@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* custom small helpers */
.card {
    @apply rounded-xl p-4 bg-white shadow;
}
